<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Users</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #fff;
            padding: 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        li:nth-child(even) {
            background-color: #f9f9f9;
        }
        strong {
            color: #555;
        }
        p {
            text-align: center;
            color: #888;
        }
    </style>
</head>
<body>
    <h1>View All Users</h1>
    <% if (users.length > 0) { %>
        <ul>
            <% users.forEach(user => { %>
                <li>
                    <strong>User ID:</strong> <%= user.user_id %><br>
                    <strong>Username:</strong> <%= user.user_name %><br>
                    <strong>Loyalty Points:</strong> <%= user.loyalty_points %><br>
                    <strong>Blocked(If 1 is Blocked):</strong> <%= user.is_blocked%><br>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No users found.</p>
    <% } %>
</body>
</html>
